.form-signin {
  max-width: 330px;
  padding: 10px 15px 10px 15px;
  margin: auto auto;
}

.btn-block {
  background-color: #f59128 !important;
  border-color: white !important;
}

.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type='text'] {
  margin-bottom: 5px;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall {
  margin-top: 10px;
  padding: 10px 0px 0px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 185px;
  height: 40px;
  margin: 0 auto 0;
  display: block;
}
.need-help {
  margin-top: 10px;
}
.toggle {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  color: #428bca;
  text-decoration: none;
}
.toggle:hover {
  text-decoration: underline;
  color: #2a6496;
}

#err-txt {
  color: red;
}

.btn-socure {
  background-color: #f59128 !important;
}
