#pay {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
  background-color: #1ec677;
}
#decline {
  margin-right: 10px;
}
#ver_msg {
  margin-top: 10px;
  margin-bottom: 10px;
}
#mscard {
  margin-right: -30px;
}
#visacard {
  margin-left: 40px;
}
.lightgray {
  color: #757575;
}
#cardnum {
  margin-bottom: 5px;
}
#aibank {
  margin-left: -30x;
}
.header_pay {
  margin-top: 20px;
}

.table {
  margin-top: -20px;
  background-color: #f7f7f7 !important;
  border-radius: 10px;
  margin-bottom: 5px;
}
img {
  border-radius: 5px;
}
th {
  font-weight: 500 !important;
}
